/*члены команды*/
.section-tiam {
  background-color: $feature-icon-color;
}
.tiam-list {
  display: flex;
  margin-top: 0;
  align-items: center;
}

.tiam-item {
  width: calc((100% - 30px * 3) / 4);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.tiam-card {
  padding: 30px 32px 24px 32px;
  background-color: $primeri-white-color;
}
/*имена*/

.name-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/*професия*/
.prof-item {
  margin-bottom: 16px;

  color: $title-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
/*іконки соц. мереж*/
.icon-title {
  display: flex;
  align-items: center;
  list-style: none;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: $social-icon-color;

  transition: background-color 250ms $timing-function,
    color 250ms $timing-function;
  &:not(:last-child) {
    margin-right: 10px;
  }
  &:hover,
  &:focus {
    cursor: pointer;
    color: $primeri-white-color;
    background-color: $akcent-color;
  }
}

.icon-item:not(:last-child) {
  margin-right: 10px;
}
.icon-socials {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/*Ховер для іконок соц. мереж*/
